.loginTitle {
    display: grid;
    place-items: center;
    font-family: 'Cookie';
    font-size: 28px;
    &__t{
        max-width: 400px;
        text-align: center;
    }
}

.loginForm {
    display: grid;
    place-items: center;
    padding: 1rem;
    &__email {
        &-label {
            text-align: left;
            margin-bottom: 20px;
        }
        &-input {
            width: 30em;
            margin-bottom: 20px;
            border-radius: 10px;
        }
    }

    &__password {
        &-label {
            text-align: left;
            margin-bottom: 20px;
        }
        &-input {
            width: 30em;
            margin-bottom: 40px;
            border-radius: 10px;
        }
    }
    &__btn-login{
        margin-bottom: 40px;
        &-b{
            color: black;
            background-color: #D9C9A5;
            height: 50px;
            width: 480px;
            border-radius: 10px;
        }
        &-b:hover{
            background-color: #F47E68;
        }
    }
    &__btn-register{
        &-b{
            color: black;
            background-color: #D9C9A5;
            height: 50px;
            width: 480px;
            border-radius: 10px;
        }
        &-b:hover{
            background-color: #F47E68;
        }
    }
    
}