body{
    background-color: #281B23;
}

.registerTitle {
    display: flex;
    position: relative;
    font-family: 'Cookie';
    font-size: 28px;
    height: 100px;
    place-items: center;
    &__i{
        width: 4rem; 
        position: absolute;
        left: 8%;
    }
    &__i:hover{
        width: 5rem;
    }
    &__t{
        position: absolute;
        left: 43%;
        right: 43%;
        align-items: center;
        position: absolute;
        text-align: center;
        color: white;
    }
}

.registerForm {
    display: grid;
    place-items: center;
    &__name {
        &-label {
            text-align: left;
            margin-bottom: 20px;
            color: white;
        }
        &-input {
            width: 30em;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: white;
        }
    }
    &__lastName {
        &-label {
            text-align: left;
            margin-bottom: 20px;
            color: white;
        }
        &-input {
            width: 30em;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: white;
        }
    }

    &__email {
        &-label {
            text-align: left;
            margin-bottom: 20px;
            color: white;
        }
        &-input {
            width: 30em;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: white;
        }
    }

    &__password {
        &-label {
            text-align: left;
            margin-bottom: 20px;
            color: white;
        }
        &-input {
            width: 30em;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: white;
        }
    }
    &__verifyPassword {
        &-label {
            text-align: left;
            margin-bottom: 20px;
            color: white;
        }
        &-input {
            width: 30em;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: white;
        }
    }
    &__userType{
        width: 30em;
        margin-bottom: 20px;
        color: white;
        &-formControl{
            display: grid;
            place-items: center;
            &-radioGroup{
                color: white;
                &-p{
                    margin-right: 80px;
                }
            }
        }
    }

    &__btn-create{
        margin-bottom: 40px;
        text-align: center;
        color: white;
        cursor: pointer;
        &-b{
            color: black;
            background-color: #8DAA94;
            height: 50px;
            width: 480px;
            border-radius: 10px;
        }
        &-b:hover{
            background-color: #F47E68;
        }
    }
    
}