body {
  background-color: #281b23;
}

.chat__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-height: 90vh;
  &-backBtn {
    position: absolute;
    width: 3rem;
    top: 7rem;
    left: 2rem;
    height: 3rem;
    color: #fff;
    &-icon {
      font-size: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.chat__friends {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 2px solid #fff;
  height: 90vh;
  max-height: 90vh;
  &-chatsLabel {
    color: white;
    margin: 1.5rem 0 1rem 0;
  }
  h2 {
    text-align: center;
  }
  &-names {
    overflow-y: auto;
    width: 100%;
    display: grid;
    place-items: center;

    &-n {
      display: flex;
      margin: 0.5rem;
      border: 2px solid white;
      border-radius: 10px;
      width: 90%;
      text-align: center;
      color: white;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0.8rem;
      font-size: 1.3rem;
      cursor: pointer;
      p {
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
      }
      &-i {
        width: 20%;
        border-radius: 50px;
        margin-right: 20px;
        width: 3rem;
        margin-left: 10px;
      }
    }

    &-n:hover {
      background-color: #f47e68;
    }
  }
}

.chat__message {
  width: 100%;
  max-height: 90vh;
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 7fr;

  &-friend {
    display: flex;
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 7rem;

    h2 {
      color: white;
      font-family: "Franklin Gothic Medium";
      font-size: 2.3rem;
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    &-i {
      border-radius: 50px;
      width: 5rem;
      margin: 1rem;
    }
  }

  &-chat {
    height: 77vh;
    width: 100%;
    display: grid;
    grid-template-rows: 7fr 1fr;

    &-c {
      max-height: 100%;
      overflow-y: auto;
      margin: 0 0.7rem 0 0;
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-button:start:decrement,
      ::-webkit-scrollbar-button:end:increment {
        height: 10px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track-piece {
        background-color: #eeeeee;
        -webkit-border-radius: 16px;
      }
      &::-webkit-scrollbar-thumb:vertical {
        height: 10px;
        background-color: #666;
        border: 1px solid #eee;
        -webkit-border-radius: 16px;
      }

      &-m1 {
        display: flex;
        overflow-y: auto;
        color: white;
        padding: 10px;
        margin-left: 2%;

        &-p {
          border: 3px solid #8daa94;
          border-radius: 10px 10px 10px 0;
          word-wrap: break-word;
          max-width: 45%;

          p {
            margin: 10px;
            font-size: 20px;
          }
        }
        &-hour {
          margin: 0 0.4rem;
          float: right;
        }
      }

      &-m2 {
        padding: 10px;
        display: flex;
        overflow-y: auto;
        color: white;
        justify-content: right;
        margin-right: 2%;
        &-p {
          border: 3px solid #d12942;
          border-radius: 10px 10px 0 10px;
          word-wrap: break-word;
          max-width: 45%;

          p {
            margin: 10px;
            font-size: 20px;
          }
        }
        &-hour {
          margin: 0 0.4rem;
          float: left;
        }
      }
    }

    &-b {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-top: 2px solid white;

      &-container {
        width: 85%;
        border: 1px solid #d9d9d9;
        border-radius: 1rem;
        &-in {
          width: 100%;
          height: 2rem;
          border: none;
          background: none;
          outline: none;
          padding: 0 1rem;
          font-size: 1.2rem;
          color: #fff;
        }
      }

      &-i {
        font-size: 2.5rem;
        color: #fff;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
