.comment {
  color: #fff;
  margin: 1rem 0;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #fff;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-author {
      margin: 0.3rem 0.5rem 0.3rem 0;
      font-size: 1.1rem;
    }
  }
  &__commentContent {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
