.recipe {
  box-sizing: border-box;
  background-color: #281b23;
  min-height: 100vh;
  padding: 2rem;
  &__backBtn {
    position: relative;
    width: 3rem;
    top: 1rem;
    left: 1rem;
    height: 3rem;
    color: #fff;
    &-icon {
      font-size: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__container {
    border-radius: 1rem;
    background-color: #d9c9a5;
    padding: 1rem;
    width: 65%;
    margin: 0 auto;
    &-favBtn {
      float: right;
      text-transform: capitalize;
      background-color: #d12942;
      &:hover {
        background-color: #921e2f;
      }
    }
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-title {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 800;
        margin: 0;
      }
      &-rating {
        display: flex;
        justify-content: center;
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 1rem 0;
      &-left {
        &-label {
          display: inline-block;
          padding: 0.3rem 0.7rem;
          border-radius: 0.3rem;
          margin-bottom: 0.4rem;
          background-color: #281b23;
          color: #fff;
        }
        &-list {
          margin: 0;
          padding-left: 1.5rem;
        }
      }
      &-right {
        display: flex;
        overflow-x: auto;
        align-items: center;
        margin: 0 3rem;
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }
        &::-webkit-scrollbar-button:start:decrement,
        ::-webkit-scrollbar-button:end:increment {
          height: 10px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-track-piece {
          background-color: #eeeeee;
          -webkit-border-radius: 16px;
        }
        &::-webkit-scrollbar-thumb:horizontal {
          height: 10px;
          background-color: #666;
          border: 1px solid #eee;
          -webkit-border-radius: 16px;
        }
        &-img {
          width: 12rem;
          height: 12rem;
          border-radius: 1rem;
          object-fit: cover;
          margin: 0 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
    &-procedure {
      &-label {
        display: inline-block;
        padding: 0.3rem 0.7rem;
        border-radius: 0.3rem;
        margin-bottom: 0.4rem;
        background-color: #281b23;
        color: #fff;
      }
      &-list {
        margin: 0;
        padding-left: 1.5rem;
      }
    }
  }
  &__comments {
    width: 65%;
    margin: 1rem auto;
    &-newComment {
      width: 70%;
      &-container {
        margin: 1.5rem 0;
        &-rating {
          display: flex;
          flex-direction: row;
          &-label {
            display: inline-block;
            color: #fff;
            font-size: 1.1rem;
            font-weight: 400;
            margin-right: 1rem;
          }
        }
        &-comment {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          width: 100%;
          border: 1px solid #fff;
          border-radius: 0.5rem;
          resize: none;
          background: none;
          outline: none;
          padding: 0 1rem;
          font-size: 1.2rem;
          color: #fff;
          &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
          }
          &::-webkit-scrollbar-button:start:decrement,
          ::-webkit-scrollbar-button:end:increment {
            height: 10px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-track-piece {
            background-color: #eeeeee;
            -webkit-border-radius: 16px;
          }
          &::-webkit-scrollbar-thumb:vertical {
            height: 10px;
            background-color: #666;
            border: 1px solid #eee;
            -webkit-border-radius: 16px;
          }
        }
        &-btnSection {
          &-submit {
            background-color: #8daa94;
            color: #fff;
            margin-right: 1rem;
            &:disabled {
              background-color: #8daa94;
            }
            &:hover {
              background-color: #6d8472;
            }
          }
          &-cancel {
            background-color: #d12942;
            &:hover {
              background-color: #921e2f;
            }
          }
        }
      }
    }
    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-title {
        color: #fff;
        font-size: 1.5rem;
        border-bottom: 3px solid #fff;
        margin: 0;
      }
      &-addCommentBtn {
        background-color: #8daa94;
        text-transform: none;
        font-size: 1rem;
        &:hover {
          background-color: #6d8472;
        }
      }
    }
  }
}
