body {

    background-color: #281B23;
}

.createRecipe {
    display: grid;
    place-items: center;

    &__title {
        margin-top: 40px;
        width: 50%;
        display: grid;
        place-items: center;

        &-h {
            text-align: center;
        }

        h2 {
            color: white;
        }

        &-t {
            &-input {
                border: 3px solid black;
                border-radius: 9px;
                width: 30em;
                background-color: white;
            }
        }
    }

    &__titles {
        margin-top: 20px;
        display: flex;
        width: 80%;
        justify-content: space-between;
        text-align: center;

        h2 {
            color: white;
        }

        &-i {
            width: 35%;
        }

        &-p {
            width: 50%;
        }
    }

    &__half {
        margin-top: 10px;
        display: flex;
        width: 80%;
        justify-content: space-between;
        overflow: hidden;

        &-ingredients {
            width: 35%;
            display: grid;
            place-items: center;

            &-list {
                border: 3px solid black;
                border-radius: 9px;
                background-color: white;
                width: 100%;
                overflow-x: auto;
                white-space: nowrap;
                max-height: 15em;

                &-l {
                    justify-content: space-between;
                    display: flex;
                    margin-top: 10px;
                    width: 100%;
                    align-items: center;

                    &-i {
                        font-size: 20px;
                        font-weight: bold;
                        width: 80%;
                        overflow: auto;
                        text-align: center;
                    }

                    &-b {
                        background-color: #D12942;
                        color: white;
                        font-size: 15px;
                        margin-right: 10px;
                        height: 30px;
                    }
                }

            }

        }

        &-procedure {
            width: 50%;
            display: grid;
            place-items: center;

            &-list {
                font-weight: bold;
                border: 3px solid black;
                border-radius: 9px;
                background-color: white;
                width: 100%;
                overflow-x: auto;
                white-space: nowrap;
                max-height: 15em;

                &-l {
                    justify-content: space-between;
                    display: flex;
                    margin-top: 10px;
                    width: 100%;
                    align-items: center;

                    &-i {

                        width: 80%;

                        //overflow:auto ;
                        textarea {
                            width: 98%;
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;
                            height: 40px;
                            border: 1px solid black;
                            border-radius: 9px;
                        }

                    }

                    &-b {
                        background-color: #D12942;
                        color: white;
                        font-size: 15px;
                        margin-right: 10px;
                        height: 30px;
                    }
                }
            }

        }
    }

    &__inputBtn {
        display: flex;
        width: 80%;
        justify-content: space-between;

        &-ingredients {
            display: flex;
            align-items: center;
            width: 35%;
            justify-content: space-between;
            margin-top: 5px;

            &-input {
                width: 70%;
                background-color: white;
                border: 3px solid black;
                border-radius: 9px;
            }

            &-btn {
                margin-right: 13px;

                &-b {
                    background-color: #8DAA94;
                    color: black;
                }

                &-b:hover {
                    background-color: #F47E68;
                }
            }

        }

        &-procedure {
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: space-between;
            margin-top: 5px;

            &-input {
                width: 76%;
                background-color: white;
                border: 3px solid black;
                border-radius: 9px;
                font-size: 17px;
                height: 4em;
            }

            &-btn {
                margin-right: 13px;

                &-b {
                    background-color: #8DAA94;
                    color: black;
                }

                &-b:hover {
                    background-color: #F47E68;
                }
            }
        }
    }

    &__category {
        h2 {
            color: white;
        }

        margin-top: 20px;

        &-select {
            border: 3px solid white;

        }

    }

    &__end {
        h2 {
            color: white;
        }

        margin-top: 10px;
        width: 60%;

        &-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-foto {
                display: flex;
                align-items: center;

                &-b1 {
                    border: 3px solid white;
                    width: 25em;
                    color: white;
                    background-color: #281B23;
                    margin-right: 10px;
                    max-height: 10em;
                    overflow-y: auto;
                }

                &-b2 {
                    color: black;
                    background-color: #D9C9A5;
                    height: 40px;
                }

                &-b2:hover {
                    background-color: #F47E68;
                }
            }

            &-post {
                &-c {
                    margin-right: 20px;
                    border: 3px solid #8DAA94;
                    border-radius: 9px;
                    color: white;
                    font-size: 20px;
                }

                &-c:hover {
                    background-color: #8DAA94;
                    color: white;
                }

                &-b {
                    border-radius: 9px;
                    background-color: #281B23;
                    border: 3px solid #8DAA94;
                    font-size: 20px;

                    &:disabled {
                        background-color: grey;
                        border: 3px solid #8DAA94;
                        color: black;
                    }
                }

                &-b:hover {
                    background-color: #8DAA94;
                }
            }
        }
    }
}